<td><a href="#" class="anc-host-name" data-value="{{id}},{{name}},{{host}},{{port}},{{user}}">{{name}}</a></td>
<td>{{host}}:{{port}}</td>
<td>{{user}}</td>
<td style="text-align:center;">
	<button class="rm-host close btn btn-xs" type="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
</td>
