<li role="presentation" class="active">
	<a href="#{{tabId}}" id="{{tabId}}__anc" aria-controls="{{tabId}}" role="tab" data-toggle="tab" class="{{_class}}">
		<span class="glyphicon glyphicon-{{icon}}"></span> {{title}}
		<button class="close-tab close btn btn-xs" type="button">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		</button>
	</a>
</li>
